.DS_Store
netflix_titles.csv
answers.txt
Otvety.txt
prepared_answers.txt
speaker.ann
w2v_model
w2v_model.syn1neg.npy
w2v_model.wv.vectors.npy
ProductsDataset.csv
dst-3.0_16_1_hh_database.csv
.DS_Store
market_index.ann
fallback_index.ann
properties_2016.csv
criteo.csv
saved_weights.pt
cat_train.csv
*_env
houseApp
/BUSINESS/RETAIL/data/*
/Project_12/data/*
/Project_12/image/data/*
/Project_12/compose/data/*
/MIPT/data/*
/MIPT/homework_programming/data/*
/DL/data/
credentials.txt
/MIPT/2_semester/hakaton_2/dataset/final_df_v2.csv
/MIPT/2_semester/hakaton_3/data/
/MIPT/2_semester/hakaton_3/archive/
/MIPT/2_semester/hakaton_3/local_model
/MIPT/2_semester/hakaton_3/local_summarizer_model
/MIPT/2_semester/base_dl/hw_2/data
/MIPT/2_semester/base_dl/exam/chest_xray
/MIPT/3_semester/NLP/hw_1/models
/MIPT/3_semester/NLP/hw_2/archive
/MIPT/3_semester/NLP/hw_3/archive
/MIPT/3_semester/devops/hw_1/config.yaml
/MIPT/3_semester/devops/hw_1/xtunnel
/MIPT/3_semester/devops/hw_1/__pycache__
/MIPT/3_semester/cmmo/lections
/MIPT/3_semester/devops/hw_3/terraform*
/MIPT/3_semester/devops/hw_3/main*
/MIPT/3_semester/devops/hw_3/.terr*
/MIPT/3_semester/devops/hw_3/inventory.ini
/MIPT/3_semester/devops/hw_4/*