.DS_Store
netflix_titles.csv
answers.txt
Otvety.txt
prepared_answers.txt
speaker.ann
w2v_model
w2v_model.syn1neg.npy
w2v_model.wv.vectors.npy
ProductsDataset.csv
dst-3.0_16_1_hh_database.csv
.DS_Store
market_index.ann
fallback_index.ann
properties_2016.csv
criteo.csv
saved_weights.pt
cat_train.csv
*_env
houseApp
/BUSINESS/RETAIL/data/*
/Project_12/data/*
/Project_12/image/data/*
/Project_12/compose/data/*
/MIPT/data/*
/MIPT/homework_programming/data/*
